<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFWgi0mWRylFJZ70SlIHcpyJqLeuG4pTo</string>
	<key>GCM_SENDER_ID</key>
	<string>1021996917870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatt.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatify-realtime-d4bd4</string>
	<key>STORAGE_BUCKET</key>
	<string>chatify-realtime-d4bd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021996917870:ios:c3e9f9b2c5c5a0cecab27f</string>
</dict>
</plist>